@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0%;
    padding-top: 7%;
    background: rgb(24, 24, 58);
}

h1 {
    text-align: center;
    color: white;
    font-family: "Rubik", sans-serif;
}

#navtop, #navbot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 7%;
    margin: 0%;
    z-index: 999;
    position: fixed;
    background: inherit;
}

#navtop {
   top: 0;
}

#navbot {
    top: 7%;
    border: 0.1vw solid white;
}

#navtop > button, #navbot > button {
    cursor: pointer;
}

#logo {
    width: 9vw;
}

#donate {

}

#connect {
    background: inherit;
    color: white;
    width: fit-content;
    height: 2.5vw;
    border-radius: 3vw / 2.2vw;
    border: 0.21vw solid rgb(41, 196, 57);
    font-family:  "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 1vw;
}

#provablyFairDiv {
    gap: 0.25%;
}

#provablyFairDiv > p {
    color: white;
}

#provablyFairDiv > img {
    width: 3.5vw;
    cursor: pointer;
}

#outerProvablyFairDiv {
    width: 20vw;
    height: 62.5vh;
    border: 0.25vw solid white;
    position: fixed;
    top: 50%;
    left: 50%;          
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.8);
}

#outerProvablyFairDiv > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    margin: 4%;
}

#outerProvablyFairDiv > button {
    position: fixed;
    top: 2.25%;
    left: 87.5%;
    color: gray;
    font-weight: 900;
    font-size: 1.15vw;
    background: none;
    border: none;
    cursor: pointer;
}

#provablyFairMainDiv > div {
    width: 90%;
    height: 8vh;
    border: 0.15vw solid white;
    margin: 5%;
    padding-top: 2%;
}

#provablyFairMainDiv > div > p, #provablyFairMainDiv > div > div {
    color: white;
    margin: 0%;
    font-size: 0.775vw;
    font-family: "Prompt", sans-serif;
}

#regenerateBtn {
    width: 1.2vw;
    margin-left: 2%;
    cursor: pointer;
}

.flexrow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Coinflip */

.casino {
  width: 60vw;
  height: 70vh;
  margin: auto;
  padding: 20px;
  background: #21263e;
  color: white;
  border-radius: 14px;
  text-align: center;
}

.casino > p {
    font-family: "Prompt", sans-serif;
    font-size: 2em;
}

.coin {
  width: 120px;
  height: 120px;
  margin: 20px auto;
  transform-style: preserve-3d;
  transition: transform 1.2s;
}

.coin.flipping {
  transform: rotateY(1080deg);
}

.coin.tails {
  transform: rotateY(180deg);
}

.controls > div {
  justify-content: center;
  gap: 3%;
  margin: 2%;
}

.controls > div > button {
    width: 5vw;
    height: 4vh;
    font-family: "Rubik", sans-serif;
}

.controls > input {
    width: 6vw;
    height: 3vh;
    margin-right: 2%;
}

.controls > button {
    width: fit-content;
    height: 3.75vh;
    cursor: pointer;
    font-family: "Prompt", sans-serif;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: gold;
  font-family: 'Montserrat', sans-serif;
}

.side.tails {
  transform: rotateY(180deg);
  background: silver;
}

.controls button.active {
  background: gold;
  color: black;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(37, 38, 42, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 45vw;
  height: 20vw;
  background: rgb(35, 40, 59);
  padding: 30px;
  border-radius: 12px;
}

#close {
    width: 6.5vw;
    height: 6.5vh;
    border-radius: 8vw / 13vw;
    cursor: pointer;
    background: rgb(210, 220, 254);
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s all linear;
}

#close:hover {
    background: rgb(188, 198, 255);
}